/* main.css
clases style:
	- outside positioning
	- size
	- margins
	- border settings
	- font settings
	- paddings
	- bacground settings

*/

/*   ---   System elements   ---   */

a
{
	color: #00f;
	text-decoration: none;
}
body
{
	margin: 0px;
	background: #cce;
}
.wrap
{
	width:  800px;
	margin: 0 auto;

}

/*   ---   HEADER   ---   */

.status_bar
{
	display: inline-flex;
	height: 40px;
	width: 100%;
	color: #fff;
	background: linear-gradient(#0ac, #009);
}
.status_bar>.logo
{
	border-right: 1px solid #fff;
	font-size: 30px;
	text-shadow: 2px 2px 4px #000;
	padding-left: 10px;
	padding-right: 10px;
}
.status_bar>.directory
{
	width: 30%;
	font-weight: normal;
	font-size: 30px;
	text-align: center;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
}
.status_bar>.date_time
{
	height: 20px;
	margin: 6px 6px 6px 155px;
	padding: 2px;
	border: 1px solid #009;
	border-radius: 3px;
	font-size: 16px;
	background: linear-gradient(#05c, #669, #05c);
}

/*   ---   WAY   ---   */

.way
{
	clear: both;
	height: 21px;
	background: #98d4db;
}
.way>.divider
{
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 16px;
	margin: -4px 5px -3px 5px;
	background-position: -396px -145px;
	background-image: url("../img/ico.png");
}
.way>a
{
	color: #00a;
}
.way>a>.location
{
	font-weight: normal;
	font-size: 14px;
	font-family: "Arial";
}


/*   ---  MENU   ---   */

.menu
{
	float: left;
	width: 150px;
	font-family: "Arial";
	font-size: 15px;
}
.menu>.menu_header
{
	height: 25px;
	border-radius: 0px 20px 0px 0px;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-shadow: 0px 0px 2px  #eee;
	padding-left: 5px;
	padding-top: 6px;
	background: linear-gradient(#999, #111);
}
.menu>a
{
	color: #fff;
}
.menu>a>.button
{
	height: 25px;
	text-align: center;
	padding-top: 5px;
	background: linear-gradient(#bbb, #555);
}
.menu>a>.button:hover
{
	background: #aaa;
}
.menu>.menu_footer
{
	height: 31px;
	border-radius: 0px 0px 0px 20px;
	background: linear-gradient(#999, #111);
}

/*   ---   CONTENT   ---   */

.content
{
	display: inline-block;
	width: 646px;
	font-family: "Verdana", sans-serif;
	padding-left: 3px;
}
.content>.instruments
{
	padding-left: 5px; 
	height: 30px;
	margin-bottom: 3px;
	border-radius: 0px 0px 8px 8px;
	color: #fff;
	font-weight: 14px;
	background: linear-gradient(#009, #0ac);
}
.content>.instruments>.add_btn
{
	display: inline-flex;
	margin-top: 1px;
	font-size: 14px;
	height: 28px;
}
.content>.instruments>.login
{
	float: right;
	padding: 5px 10px 5px 5px; 
}
.content>section
{
	margin-bottom: 3px;
	/*font-family: "Verdana", sans-serif;*/
}
.content>section>.record_header
{
	border-top: 1px solid #888;
	border-radius: 8px 8px 0px 0px;
	padding: 2px 5px;
	background: linear-gradient(#aac, #eee);
}
.content>section>.record_header>a
{
	font-size: 16px;
}
.content>section>.record_text_preview
{
	font-size: 14px;
	padding: 5px 5px;
	background: #eef;
}
.content>section>.record_info
{
	height: 16px;
	border-bottom: 1px solid #888;
	border-radius: 0px 0px 8px 8px;
	font-family: "Courier", Courier, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 5px;
	background: linear-gradient(#eee, #aac);
}

/*   ---   FOOTER   ---   */

.footer
{
	clear: left;
	height: 23px;
	width: 100%;
	background: linear-gradient(#0ac, #009);
}
.footer>.creator
{
	display: inline-block;
	color: #fd0;
	font-family: "Arial";
	font-size: 10px;
	font-weight: bold;
	padding-left: 20px;
}