/* register.css */

/*   ---   ID2   ---   */

.form
{

	margin-bottom: 3px;
	/*border-bottom: 1px dashed;*/
	font-family: "Verdana", sans-serif;
}
.form>.reg_header
{
	border-top: 1px solid #888;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid #000;
	padding: 2px 5px;
	background: linear-gradient(#aac, #eee);
}
.form>.form_line
{
	height: 32px;
	border-bottom: 1px solid;
	align-content: center;
	padding: 4px 20px;
	background: #eef;
}
.form>.form_line>input
{
	clear: right;
	float: right;
	display: inline-block;
	width: 50%;
}
.form>.form_line>span
{
	clear: right;
	display: inline-block;
	color: #000;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	padding-top: 7px;
}
.form>.reg_footer
{
	height: 20px;
	border-bottom: 1px solid #888;
	border-radius: 0px 0px 8px 8px;
	background: linear-gradient(#eee, #aac);
}